body{
   
    background-image: url(efe-kurnaz-RnCPiXixooY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    margin: 10rem;
    text-align: center;
    
    min-height: 600px;
    border: 0.1rem solid aqua;
    border-radius: 2rem;
    background: transparent;
    backdrop-filter: blur(15px);
    color:#002A32 ;
    
    font-size: 1rem;
}
a{
    color: darkgray;
    text-decoration: underline;
    display: inline-block;
    transition: transform 2.0s ease;
}
a:visited{
    color: #2a3439;
    text-decoration: underline;
}
a:hover{
    color: darkblue;
    transition: 1.0s ease;
    transform: scale(1.5);
    transform-origin: center;
}
h2{
    color: black;
}
ul{
    list-style-type: none;
}
ol{
   list-style-type: none;
}
.image{
   border: o.1rem solid aqua;
   border-radius: 2rem;
}
